<h3><%=log_type%></h3>
<%if (logs.length) {%>
	<table class="events">
	<%
	for (var i=0; i<logs.length;i++){
		var log = logs[i];
		%>
		<tr>
			<td>
			<%=new Date(log.timestamp).toUTCString()%> - 
			(<time class="timeago" datetime="<%=new Date(parseFloat(log.timestamp)).toISOString()%>"><%=new Date(parseFloat(log.timestamp)).toISOString()%></time>)
			</td>
			<td class="msg">
				<span class="<%=log.event%>"><%=log.msg%></span>
			</td>
		</tr>
		<%
	}
	%>
	</table>
<% } else {%>
	<p>No <%=log_type%> logs found</p>
<%}%>