<h1><%=title%></h1>

<%
var status_str = "disabled"
	if (status==1){
		status_str = "ok"
	}else if (status==0){
		status_str = "error"
	}
%>

<h2 class="<%=status_str%>"><img class="status_icon" src="/images/<%=status_str%>.png" alt="<%=status_str%>" /> <%=status_str%></h2>


<%-partial ('partial/display_logs_list', {logs:logs_critical, log_type:'Critical'})%>
<%-partial ('partial/display_logs_list', {logs:logs_warning, log_type:'Warning'})%>

<a href="/" class="btn primary">back to list</a>