<table>
	<thead>
		<th>HOST+URL</th>
		<th>Enabled</th>
		<th class = "{sorter: 'digit'}">Ping interval (sec)</th>
		<th class = "{sorter: 'digit'}">Response limit (ms)</th>
		<th class = "{sorter: 'digit'}">AVG Response time (ms)</th>
		<th>Last failure</th>
		<th>Last warning</th>
		<th>Last ok</th>
		<th></th>
	</thead>
<%
	for (var i=0; i<hosts.length;i++){
		var host = hosts[i];
		for (var u=0;u<hosts[i].urls.length;u++){
			var disabled = (host.urls[u].enabled || host.enabled) == false
			%>
			<tr>
			<td><a href="http://<%=host.host%>:<%=host.port%><%=host.urls[u].url%>" target="_blank"><%=host.host%>:<%=host.port%><%=host.urls[u].url%></a></td>
			<td>
			<%
			if (disabled){
				%>
				<span class="label important">DISABLED</span>
				<%
			}
			else{
				%>
				<span class="label success">ENABLED</span>
				<%
			}
			%>
			</td>
			<td>
				<%=(host.urls[u].ping_interval || host.ping_interval)%>
			</td>
			<td>
				<%=(host.urls[u].warning_if_takes_more_than || host.warning_if_takes_more_than) || "-"%>
			</td>
			<td>
				<%=Math.round(host.urls[u].avg_response_time) || "-"%>
			</td>
			<td>
			<%if (host.urls[u].lastfailure) {%>
				<span class="failure">
				<time class="timeago" datetime="<%=new Date(parseFloat(host.urls[u].lastfailure)).toISOString()%>"><%=new Date(parseFloat(host.urls[u].lastfailure)).toISOString()%></time>
				</span>
			<%}%>
			</td>
			<td>
			<%if (host.urls[u].lastwarning) {%>
				<span class="warning">
				<time class="timeago" datetime="<%=new Date(parseFloat(host.urls[u].lastwarning)).toISOString()%>"><%=new Date(parseFloat(host.urls[u].lastwarning)).toISOString()%></time>
				</span>
			<%}%>
			</td>
			<td>
			<%if (host.urls[u].lastok) {%>
				<span class="ok">
					<time class="timeago" datetime="<%=new Date(parseFloat(host.urls[u].lastok)).toISOString()%>"><%=new Date(parseFloat(host.urls[u].lastok)).toISOString()%></time>
				</span>
			<%}%>
			</td>
			<td>
			<a href="/log?url=<%=encodeURIComponent(host.urls[u].url)%>&host=<%=encodeURIComponent(host.host)%>">log details</a>
			</td>
			<%
		}
		%>
		</tr>
		<%
	}
%>
</table>